.Square {
  height: 90px;
  width: 90px;
  background-color: red;
  outline: none;
}

.BlackSquare {
    background-color: brown;
}

.WhiteSquare {
    background-color: white;
}

.HighLightSquare {
    background-color: yellow;
}

img {
    height: 70px;
    width: 70px;
}